{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="dropdown">
  <h1>Search Results</h1>
  <hr>
    <datalist id="Number_of_players">
        <option>2-4</option>
        <option>5-10</option>
        <option>10+</option>
    </datalist>
    <input  autoComplete="on" list="Number_of_players" placeholder="Number of Players" /> 
    <datalist id="Category">
        <option>Adventure</option>
        <option>Educational</option>
        <option>Dice</option>
        <option>Family</option>
    </datalist>
    <input  autoComplete="on" list="Category" placeholder="Category"/> 
    <datalist id="Ratings">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </datalist>
    <input  autoComplete="on" list="Ratings" placeholder="Ratings"/> 
</div>



{% endblock %}
