{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="dropdown">
  <h1>Search Results</h1>
  <hr>
    <datalist id="suggestions">
        <option>2-4</option>
        <option>5-10</option>
        <option>10+</option>
    </datalist>
    <input  autoComplete="on" list="suggestions"/> 
    <datalist id="suggestion">
        <option>Adventure</option>
        <option>Educational</option>
        <option>Dice</option>
        <option>Family</option>
    </datalist>
    <input  autoComplete="on" list="suggestion"/> 
</div>



{% endblock %}
